<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, class:"form-control" %>
    <%
=begin%>
 <%= form.select :status, options_for_select(@statuses.collect { |s| [s[0], s[0]] }),  {:include_blank => "Select"}, class:"form-control custom-select"  %>    
<%
=end%>
  
  </div>

  <div class="field">
    <%= form.label :img_type %>
    <%= form.text_field :img_type, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :making %>    
    <%= form.text_field :making, class:"form-control" %>
    <%
=begin%>
 <%= form.select :making, options_for_select(@makings.collect { |m| [m[0], m[0]]}), class:"form-control" %> 
<%
=end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
