<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
     <%= link_to "Navbar", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Pecunia", pecunia_path, class:"nav-link" %>
        </li>
      </ul>

      <nav class="menu" role='navigation'>
        <ol>
          <li class="menu-item">
            <%= link_to "Home", root_path %>
          </li>
         
          <li class="menu-item" aria-haspopup="true">
            <a href="#0">Widgets</a>
            <ol class="sub-menu" aria-label="submenu">
              <li class="menu-item"><a href="#0">Big Widgets</a></li>
              <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
              <li class="menu-item"><a href="#0">Huge Widgets</a></li>
            </ol>
          </li>
          <li class="menu-item" aria-haspopup="true">
            <a href="#0">Kabobs</a>
            <ol class="sub-menu" aria-label="submenu">
              <li class="menu-item"><a href="#0">Shishkabobs</a></li>
              <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
              <li class="menu-item"><a href="#0">Summer kabobs</a></li>
            </ol>
          </li>
          <li class="menu-item"><a href="#0">Contact</a></li>
           <li class="menu-item">
              <%= link_to "Pecunia", pecunia_path %>
           </li>
        </ol>
      </nav>

 <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <% if user_signed_in? %>
        <li class= "navbar-brand">
          <%= current_user.role %>
        </li>
        
        <li class="nav-item">
          <%= link_to current_user.email, edit_user_registration_path, class:"nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= button_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-sm btn-outline-secondary"  %>
        </li>
    <% else %>
      <li class="nav-item"> 
        <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
      </li> 
      <li class="nav-item"> 
        <%= link_to "Sign In", new_user_session_path, class:"nav-link" %>
      </li> 
    <% end %>
  </ul> 

    </div>
  </div>
</nav>